body {
	margin-top: 60px;
}

.TFMoretable {
	margin-top:40px;
	text-align: left;
	width: auto;
	border-collapse: collapse;
}

.TFMoretable td {
	text-align: justify;
	width: 900px;
	height: 100%;
	padding-top: 4px;
	padding-bottom: 20px;
	padding-right: 15px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.TFMoretable th {
	font-weight: bold;
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	font-size: 16px;
	padding-right: 15px;
	height: 30px;
}
.TFMoretable table{
	
	margin-bottom: -20px;
	
}
.TFMoretable table td {
	text-align:justify;
	width: 600px;
	text-align: left;
	padding: 0px;
}

.TFMoretable table td:nth-child(2) {
	width: 100px;
}

.TFMoretable table th {
	width: 100px;
	text-align: left;
}

a {
	text-decoration: none;
	color: blue;
}

h1 {
	font: 4em normal Arial, Helvetica, sans-serif;
	padding: 20px;
	margin: 0;
	text-align: center;
}

h1 small {
	font: 0.2em normal Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 5em;
	display: block;
}

h2 {
	color: black;
	font-size: 22px;
	text-align: center;
	text-shadow: 0 1px 2px gray;
}